$font1: "Arima", cursive;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$medium-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
$radius: 0.25rem;
$transition: all 0.75s ease-in-out;
// $color1: #1b1464;
$color1: #f1c40f;
$color2: #190ef1;
$fontSize: 2rem;
$fontWeight: 700;
$paddingFormBoxElems: 0.7rem;
$paddingResultBox: 1rem;