@import url("https://fonts.googleapis.com/css2?family=Arima&display=swap");

@import "./sass/variables";
@import "./sass/mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(244, 196, 196);
  background: linear-gradient(
    90deg,
    rgba(244, 196, 196, 1) 0%,
    rgba(110, 211, 211, 1) 47%,
    rgba(211, 90, 213, 1) 99%
  );
}

.result,
input,
button {
  text-transform: uppercase;
  font-size: $fontSize;
  font-family: $font1;
  text-align: center;
  font-size: $fontSize;
  font-weight: $fontWeight;
  outline: none;
  border: none;
}